[2018-10-09 04:08] gknobloch opened #1 "Migrate from internal repository"

[2018-10-09 04:28] gknobloch opened #2 "Add CircleCI configuration"

[2018-10-09 04:35] #2 closed

[2018-10-09 04:42] gknobloch opened #4 "npm module dependency vulnerabilities with Karma and Protractor"
Karma and Protractor must be upgraded to get rid of reported vulnerabilities

[2018-10-09 04:49] #4 closed

[2018-10-09 07:33] gknobloch opened #6 "Add Code Coverage plugin"

[2018-10-09 07:42] gknobloch opened #7 "Add Build Status"
Get a build status from CircleCI in the README

[2018-10-09 07:46] #7 closed

[2018-10-09 09:43] #6 closed

[2018-10-15 10:04] chaurasiagovind opened #11 "How to cover code for weather.js or Text.js which are not exported"
I tried writing test cases for Other files in the repository, getting below warning/error.

_

_

An example would be helpful.

[2018-10-18 11:41] pfauchere commented on #11
You may have forgotten to export the component you are trying to instantiate in another file

`export class MyCalss`

or

`export MapTo('resource/type')(MyClass)`

[2018-10-19 18:34] chaurasiagovind commented on #11
Yes, you are right. I was just wondering If there is some way to test them without exporting, as the  other components(e.g. Text js) in the example repo were not having the classes exported.

[2018-10-23 11:40] #11 closed

[2018-10-23 12:03] chaurasiagovind opened #13 "Development mode React - Code fails in ModelClient while navigating to http://localhost:9000/content/we-retail-journal/react/home.html"
Code fails in ModelClient
while navigating to http://localhost:9000/content/we-retail-journal/react/home.html

   `fetch(modelPath) {

        if (!modelPath) {
            let err = 'Fetching model rejected for path: ' + modelPath;
            return Promise.reject(new Error(err));
        }

        // Either the API host has been provided or we make an absolute request relative to the current h

[2018-10-23 16:39] chaurasiagovind commented on #13
Additional log
![image](https://user-images.githubusercontent.com/6850466/47376474-9a0c7880-d6ea-11e8-983d-3aa7a226c58d.png)

Response _______
body: (...)
bodyUsed: false
headers: Headers {}
ok: true
redirected: false
status: 200
statusText: "OK"
type: "basic"
url: "http://localhost:9000/content/we-retail-journal/react.model.json"
__proto__: Response

[2018-10-24 07:36] sandrodonnici opened #14 "Dynamic routing in Angular"
Hi,
It doesn't seem possible to implement dynamic routing in Angular as it's done in React.

Looking at the code in **app-routing.module.ts**, the **Routes** array is completely static, whereas in React routes are built dynamically from the **Page.js** component through the **withRoute** function that exploits the React **<route>** tag to dynamically add the route.

Since routing in Angular works

[2018-10-24 18:32] pfauchere commented on #14
We have a task in our backlog to update the sample and make the Angular sample App routing dynamic. Don't hesitate to investigate and provide suggestions to other users as it may take us a few weeks to deliver a solution.

[2018-10-24 18:41] pfauchere commented on #13
It is a known issue. We are planning to update the documentation to better describe that scenario. To enable the local server to serve the content, please proceed as follow:

- Update the CORS configuration of the AEM instance as follows
-- Console Path: http://localhost:8080/system/console/configMgr
-- Configuration name: Adobe Granite Cross-Origin Resource Sharing Policy
--- Values:
---- Allowed

[2018-10-29 10:15] chaurasiagovind commented on #13
Thanks, this seems to be working for me.

[2018-11-07 11:03] norbiorb commented on #13
Reopen issue for bringing the provided information to [DEVELOPMENT.md](https://github.com/adobe/aem-sample-we-retail-journal/blob/master/react-app/DEVELOPMENT.md)

[2018-11-07 14:54] pfauchere commented on #14
@sandrodonnici The following article could eventually help you implement a dynamic routing with Angular. If you investigate please provide use with some feedback

https://medium.com/@DenysVuika/dynamic-routes-with-angular-6fda03b7fa2c

[2018-11-09 13:24] norbiorb commented on #13
Closing this one as PR #17 is merged

[2018-11-16 18:14] davidjgonzalez commented on #14
FYI - The following solution works for me - even in the context of editing in the SPA Editor. I originally ran into problems with dynamic routes only in the Page Editor, however the Custom RouteReuseStrategy (which forces no re-use at all) seems to fix this. Im sure there is an optimization in the custom RouteReuseStrategy, to re-use the PageComponent instances per Url, but I think that is best le

[2018-11-16 20:28] davidjgonzalez commented on #14
Also, IMO AemPageDataResolver and AemPageRouteReuseStrategy should be optimized and made part of the cq-angular-editable-components module, rather than being copy/pasted into projects.

AemPageMatcher could act as a default matcher that is parameterized with a via the context/root path - but this may tend to require more flexibility on a project-by-project basis (havent thought that through yet).

[2018-11-19 16:40] pfauchere commented on #14
Thx @davidjgonzalez for the input!

[2018-12-12 10:49] YoannBureau opened #26 "Upgrade to Angular 7+"
Hi,

I've succefully upgraded the angular app to version 7.1.3.
I want to create a PR for that, but it seems I need rights on the repo for that.

Are you interested in this PR?

[2018-12-12 14:29] YoannBureau commented on #14
Question : Will this fix the template editor for angular? (it's not broken with react)

[2018-12-12 15:46] pfauchere commented on #26
Hi Yoann,

Yes, we are interested in your contribution. Could you please submit it via a fork of the project?

[2018-12-13 10:43] YoannBureau commented on #26
Sure, just submited the PR: https://github.com/adobe/aem-sample-we-retail-journal/pull/28

[2018-12-14 10:32] amair opened #31 "Dependency on event-stream@3.3.6"
There is a dependency on Event-stream 3.3.6, but this has removed from NPM because some malicious code which attempts to steal cryptocurrency wallets have been injected.

https://github.com/dominictarr/event-stream/issues/116#issuecomment-441759047

Workaround is to downgrade the dependency in package-lock.json to 3.3.4

[2018-12-18 16:07] norbiorb commented on #31
I think this was yet solved in PR https://github.com/adobe/aem-sample-we-retail-journal/pull/19 by upgrading nodemon to version 1.18.7

[2018-12-18 16:16] lydiapuric commented on #31
@norbiorb is right. Which version of the sample are you working on? There was a new release last week.

[2018-12-20 11:35] lydiapuric opened #33 "[AEM 6.4 + SP2] - Jackson Dependency Issue"
AEM version: AEM 6.4.2

The Core bundle relies on a dependency on com.fasterxm.jackson.* version 2.9.7.

Unfortunately com.fasterxm.jackson 2.8.4 has a security vulnerability, see http://www.cvedetails.com/vulnerability-list.php?vendor_id=15866&product_id=42991&version_id=237509&page=1&hasexp=0&opdos=0&opec=0&opov=0&opcsrf=0&opgpriv=0&opsqli=0&opxss=0&opdirt=0&opmemc=0&ophttprs=0&opbyp=0&opfileinc

[2018-12-20 11:35] lydiapuric commented on #33
PR provided, see https://github.com/adobe/aem-sample-we-retail-journal/pull/32

[2018-12-20 11:58] lydiapuric commented on #14
Yes, it does

[2018-12-20 11:58] #14 closed

[2018-12-20 11:58] #33 closed

[2018-12-20 11:58] lydiapuric commented on #33
Merged to development

[2018-12-20 12:03] lydiapuric commented on #31
@amair Looking at https://www.npmjs.com/package/psl this relies on event-stream and the issue regarding event-stream 3.3.6 got addressed with https://github.com/wrangr/psl/issues/39.
We are currently using `v1.1.29` and fix is in `v1.1.31`. I will create a PR for this.

[2018-12-20 12:21] lydiapuric commented on #31
Dependencies psl is implicite in
- npm@6.4.1, latest version is 6.5.0 which relies on
- request@2.88.0,  which is the latest version.

psl@1.1.29 has a dependency on event-stream@3.3.4:
There is no reference anymore in our package.json files to event-stream 3.3.6, so there is nothing we can do from our side here.

react-app@1.1.1
└─┬ request@2.88.0
  └─┬ tough-cookie@2.4.3
    └── psl@1.1.29

angu

[2018-12-20 12:21] lydiapuric commented on #31
Resolving as fixed.

[2018-12-20 12:21] #31 closed

[2019-01-09 07:58] YoannBureau commented on #26
so?

[2019-01-09 08:52] lydiapuric commented on #26
Thanks, we will have a look at it as soon as possible.

On Wed, Jan 9, 2019 at 8:58 AM Yoann BUREAU <notifications@github.com>
wrote:

[2019-01-16 11:51] josephh opened #36 "OSGi dependency failure com.adobe.cq.export.json.hierarchy,version=[1.0,2)   "
AEM 6.4 with SP2.
Cloned the project and checked out development branch.

Ran mvn clean install -P autoInstallPackage.

`We.Retail Journal Corecom.adobe.cq.sample.spa.we-retail-journal-core` and `We.Retail Journal Server Side Rendering com.adobe.cq.sample.spa.we-retail-journal-ssr` bundles show as installed but not active.

We retail journal core shows imported packages resolution problem, `com.ad

[2019-01-16 12:21] josephh commented on #36
https://github.com/Adobe-Marketing-Cloud/aem-guides-wknd-events/issues/45 suggests installing 6.4. SP3 to solve this problem.  Same problem persists for me with SP3.  Is there an AEM version + service pack known to work with this project?  (Or is the issue somewhere else?)

[2019-01-16 13:07] lydiapuric commented on #36
I cannot reproduce this issue with an AEM 6.4. SP3. The bundles are active, no dependency issues.
I installed the whole application with "mvn -PautoInstallSinglePackage".
Installing the core bundle only with "mvn clean install -PautoInstallPackage" works also for me as expected.
@josephh  Can you please confirm you installed the complete application first with "mvn -PautoInstallSinglePackage"?

[2019-01-16 13:10] josephh commented on #36
@davidjgonzalez's suggested use of a different jar file (com.adobe.cq.export.json/0.1.7-CQ-4226752-B006/) [here](https://github.com/Adobe-Marketing-Cloud/aem-guides/issues/17) solved the osgi package import problem for me.  And i see in the we-journal-retail-core pom in this project there is a todo comment left inline beside the  `` com.adobe.cq.export.json artifact entry.

[2019-01-16 13:12] josephh commented on #36
Thanks @lydiapuric I didn't use the autoInstallSinglePackage profile - just the autoInstallPackage one.

[2019-01-16 13:19] lydiapuric commented on #36
@josephh Could you please try to install it once with the autoInstallSinglePackage profile? This is the recommended way proposed.
It shouldn't be necessary to upload a different jar file.
Regarding the TODO: This issue is still in the backlog.

[2019-01-16 13:51] josephh commented on #36
Hi @lydiapuric
Whether i use the ...singlePackage maven profile or the ...Package one, the project still deploys the osgi bundle com.adobe.cq.export.json - as specified in the project.  The meta for this osgi bundle shows the package export as 'com.adobe.cq.export.json,version=2.0.1' but not the required 'com.adobe.cq.export.json.hierarchy'.
If i install the jar suggested by @davidjgonzalez, then

[2019-01-16 13:56] lydiapuric commented on #36
Can you please explain step by step how you installed your application? Strange thing is that I cannot reproduce this issue.

[2019-01-16 14:17] josephh commented on #36
Hi @lydiapuric I will add a note here to say what i did.  In your environment, which osgi bundle jar (and at which version?) satisfies the import of com.adobe.cq.export.json.hierarchy from the com.adobe.cq.sample.spa.we-retail-journal-core 1.1.9.SNAPSHOT bundle?

I did the following,
unpack and run aem 6.4
installed service pack 6.4.2 from package share
cloned this project
git checkout development

[2019-01-16 14:51] josephh commented on #36
Although my local aem instance now renders http://localhost:4502/editor.html/content/we-retail-journal/react/en/home.html ok in authoring mode, I can't seem to edit it and we retail journal packages in crx/packmgr show a dependency problem,

Dependencies: | day/cq60/product:cq-ui-wcm-editor-content:(1.0.138,)

😒

[2019-01-16 15:06] lydiapuric commented on #36
I did the following: No dependency problems, editing works:
- unpack and run AEM 6.4

- install service pack 6.4.3 from package share on top of 6.4
I have installed service pack 6.4.3 on top of a 6.4.2. Note: Unfortunately there is currently a known issue with 6.4.3 on top on 6.4.2 that editing does not work, reinstall package 'cq-ui-wcm-admin-content-1.0.1004.zip' fixes this

- git checkout lates

[2019-01-16 17:11] josephh commented on #36
Thanks @lydiapuric I will roll back to 6.4 with no service packs and try putting 6.4.3 straight on...
but i'm confused about the cq-ui-wcm-admin-content-1.0.1004.  The sample journal code complains in crx/packmgr about the version i mention above (*not* 1.0.1004)
```"Refusing to install package adobe/aem640/sample:we-retail-journal-content:1.1.9-SNAPSHOT. required dependencies missing: [day/cq60/p

[2019-01-16 22:18] josephh commented on #36
issue seems to be:

1. aem 6.4 comes with com.adobe.cq.export.json 0.1.2, with its osgi meta declaring `Exported Packages | com.adobe.cq.export.json,version=2.0.1` (but not com.adobe.cq.export.json.hierarchy).
2. sp2 doesn't update to com.adobe.cq.export.json, so any bundle - including we retail journal core -  consuming com.adobe.cq.export.json.hierarchy fails to resolve.
3. sp3 installs an updat

[2019-01-18 12:44] pfauchere commented on #36
We faced issues with SP3 that impacts the update from 6.4.2 to 6.4.3. Please refer to the release notes [0] under the known issues section, issue id: CQ-4260316

[0] https://helpx.adobe.com/experience-manager/6-4/release-notes/sp-release-notes.html

[2019-01-18 12:44] #36 closed

[2019-01-24 15:39] jaideepBrar opened #37 "Unable to edit components after copy-paste within layout container"
Steps to reproduce:

1. Set up an instance of AEM 6.4 with Service Pack 3 and We.Retail Journal installed.
2. Navigate to<host>:<port>/editor.html/content/we-retail-journal/react/en/home.html
3. Make a copy of any component and paste it within the container. Do not reload the page.

Expected behavior:
newly created component appears with authoring controls.

Actual behavior:
newly created componen

[2019-01-25 18:17] pfauchere commented on #37
Hi,

There is a known issue that may relate to the current issue. Did you apply the SP3 on top of the SP2? If yes, please try applying the SP3 on top of 6.4.0 or 6.4.1 instead.

https://helpx.adobe.com/experience-manager/6-4/release-notes/sp-release-notes.html#KnownIssues

Regards,

[2019-01-29 15:40] Vasiliy-Bolgar commented on #37
Hi @pfauchere
Thank you for your answer.

We've tried to install SP3 on top of pure AEM 6.4 instance. And on top of SP1 and SP2. The issue still reproduces.

I would be pleasant if you share a bit more information.
Is root cause of this behavior in We Retail Journal code or on the AEM SPA Editor side. What's your opinion?
Is there any workaround for that at this time?

Regards,
V.

[2019-01-30 19:56] pfauchere commented on #37
Hi,

I confirm the issue you are experiencing. It most probably relates to an issue between the editor and the SPA SDK. I'll create a ticket and we'll prioritize a fix. In the meantime, you may have to avoid using the copy-paste functionality or can refresh the page to have the new component instance authorable. Thank you very much for reporting the problem

Regards,

[2019-03-20 05:11] keepthebyte opened #40 "Project doesn't build with Java 11"
Looks like same as https://github.com/adobe/aem-core-wcm-components/issues/491

[ERROR] Errors:
[ERROR]   PageImplTest.testConfigChildPage:213 » NoClassDefFound javax/annotation/PostCo...
[ERROR]   PageImplTest.testRequestFilteredNestedChildPages:235 » NoClassDefFound javax/a...

[2019-03-21 04:44] keepthebyte opened #41 "Update project to use Core Components 2.3.2"
At the time of writing, this project uses Core Components 2.2.2. Update the project to use Core Components 2.3.2

[2019-03-21 04:54] keepthebyte opened #43 "Angular tests make Cloud Manager pipeline fail"
If I remove the line `"test": "ng test --watch=false",` from package.json in angular-app then it works. Wondering if there is another way to do this that would work.

Cloud Manager pipeline stops with

[code]

[2019-03-21 14:44] justinedelson commented on #43
@keepthebyte if you look right above that in the log, you should see this which tells you what the problem is:

[code]

It's interesting that this isn't a problem for the react tests.

I tried installing Chromium (see https://github.com/justinedelson/aem-sample-we-retail-journal/commit/156b1def460f6ba74ea241c322e345d6e364202d), but I get the same error.

Does the build actually require Chrome prop

[2019-03-21 14:48] keepthebyte commented on #43
when i build it locally - then it does open Chrome Browser window for real. Hence I think this needs to be adjusted so it can run headless.

[2019-03-21 16:18] keepthebyte opened #44 "we-retail-journal-content- package contains nodes to store in /apps"
the we-retail-journal-content- package shall not have any node that is stored in /apps. currently the package contains /apps nodes - they need to be in the apps package.

[2019-03-21 21:14] justinedelson commented on #43
can you reassign this to someone who knows how to do that?

[2019-03-22 11:21] justinedelson commented on #43
It looks like if Chrome (not Chromium) is installed, it works. See https://github.com/adobe/aem-sample-we-retail-journal/compare/master...justinedelson:cmcompat?expand=1

[2019-03-23 10:54] gknobloch commented on #43
@keepthebyte @justinedelson FYI, our CircleCI uses a Docker image that has Chrome installed
https://github.com/adobe/aem-sample-we-retail-journal/blob/master/.circleci/config.yml#L19

[2019-03-23 10:56] gknobloch opened #46 "Use Java 11 in CI"
We are currently using `circleci/openjdk:8-jdk-node-browsers` in our build.
We should switch to Java 11, to prevent from issues like #40 in future

cc @keepthebyte

[2019-03-25 11:01] norbiorb commented on #43
Compared to react-app one difference is indeed that for react-app the browser is configured using : `--browsers=ChromeHeadless` . So if react-app tests are passing then one could change angular test run also to use headless chrome to see if that works (`"test": "ng test --watch=false --browsers=ChromeHeadless"` ). Otherwise there is CI setup available for angular which uses https://github.com/vvo/

[2019-04-01 18:59] pfauchere commented on #40
Merged into development branch

[2019-04-01 18:59] pfauchere commented on #41
Merged into the development branch

[2019-04-01 18:59] pfauchere commented on #44
Merged into the development branch

[2019-04-01 19:04] pfauchere commented on #43
The Cloud Manager pipeline doesn't support the installation of any binary - including ChromeHeadless. We may have to wait for having Evergreen to work with the Cloud Manager pipeline. And then we could split the operation into two steps to have the unit tests executed by Evergreen but not by the Cloud Manager pipeline.

More info:

The unit tests are not executed in the React project when it is be

[2019-04-01 19:07] pfauchere commented on #46
Merged into the development branch

[2019-04-01 19:49] justinedelson commented on #43
This is not true. The build process runs as root so you can do whatever you want -- install Chromium, Chrome, Firefox, whatever. The commits I linked to show how this can be done. Chromium is a lot easier since that's available in a default apt repository. But Chrome is doable as well. See the commits I linked to.

You could do this by adding a test to only activate this profile when the build is

[2019-04-03 04:52] pfauchere commented on #43
Hi @justinedelson, thx for the feedback. How do you interpret the following log extract?

Edit: Hmm I missed the `Chromium` part of the conversation and got confused with `ChromeHeadless`! I'll switch to and test right away. Would `ChromiumHeadless` also work?

[code]

[2019-04-11 09:32] pfauchere commented on #43
Resolved via

https://github.com/adobe/aem-sample-we-retail-journal/commit/b87992b7023bfb824b964b7212db17d1e98a144f

[2019-04-11 09:32] #43 closed

[2019-04-11 09:39] pfauchere commented on #37
Resolved on the editor side. 6.5 includes the fix. 6.4 will be updated via SP

Ref id: CQ-4262640

[2019-04-11 09:39] #37 closed

[2019-04-11 10:10] Vasiliy-Bolgar commented on #37
@pfauchere, thanks a lot!

[2019-04-30 21:24] nick-khoury opened #47 "Implement SSR in my own AEM SPA project"
Hi, I am trying to use server side rendering as done in this aem-sample-we-retail-journal repo and am having a problem starting the server. My project is freshly created with the aem-spa-project-archetype, and I ejected the react-app to have control over all the npm packages and settings. I can build and publish the project and run the local react server as expected.

My problem started after I co

[2019-05-01 16:14] nick-khoury commented on #47
resolved by installing this npm package https://github.com/babel/babel-preset-env and adding 'env' to presets in src/server/bootstrap.js

[2019-05-01 16:14] #47 closed

[2019-05-09 08:18] cqsapient opened #48 "not able to edit the template and set policy"
I am following this hello world tutorial
https://helpx.adobe.com/experience-manager/kt/sites/using/spa-editor-helloworld-tutorial-use.html#putting-together

but I am not able to edit the policy as specified in step 4-

It is mentioned int he tutorial that -

Also mentioned in the wknd SPA editor tutorial https://helpx.adobe.com/au/experience-manager/kt/sites/using/getting-started-spa-wknd-tutorial

[2019-05-10 11:07] gknobloch opened #49 "Update to latest Core Components & 6.4 UberJAR"
* UberJAR should be 6.4.2
* Use latest Core Components release (2.4.0)

[2019-05-10 11:15] #49 closed

[2019-05-10 21:10] godanny86 commented on #48
hi @cqsapient I will update the docs referenced to be more clear. Basically, Template Editor works with the SPA Editor in 6.5 but does not work in 6.4. I believe there are plans to backport this functionality to 6.4, but I'm not sure. @pfauchere can you confirm?

[2019-05-16 19:03] pfauchere commented on #48
Sorry to keep you waiting. The backport to 6.4.5 has been dropped. 6.5.0 already contains the support for the editable templates and will get access to the SSR OSGi OOTB services via 6.5.1.

We would like to gather customer data and use-cases before investing the time to backport both the editable template support of the SSR features to 6.4.

Thank you for understanding,

cc @gabrielwalt

[2019-05-21 12:43] habansal opened #50 "Support Server-side rendering requests for Template page paths"
Support for Remote Content Rendering has been added in upcoming AEM 6.5SP1.

With this all SPA pages (content pages and template pages) as well can be rendered server-side.

So, we should update React and Angular Server code to also support Get and Post Requests for Template page paths.

[2019-05-21 22:29] pfauchere commented on #48
In an unexpected final plot twist, the template support and SSR features have been added to the incoming 6.4.5 version

[2019-05-22 07:49] habansal commented on #50
Handled via https://github.com/adobe/aem-sample-we-retail-journal/pull/51

[2019-05-22 07:49] #50 closed

[2019-06-03 07:19] cqsapient opened #52 "App doesn't work on IE 11"
We know that react doesn't support IE11 , but I hope AEM SPA developers didn't completely exclude IE11 from it's support matrix.

http://localhost:4502/editor.html/content/we-retail-journal/react/en/home.html

doesn't work with the error -

SCRIPT438: Object doesn't support property or method 'endsWith'

Adding import 'react-app-polyfill/ie11';
import 'core-js'; in App/index.js also doesn't solve

[2019-06-15 00:05] cqsapient opened #53 "Injecting currentPage using annotations does not return the correct page"
None of these annotations when used in a sling model in this project -

[code]

or

[code]
or

[code]

return the correct currentPage -
these always return the last created page. Not sure what's the reason behind this -

Using resourcePage works;

[code]
but it will not be helpful in the cases where the component is locked in the structure of the template, and hence is not inside the jcr:content o

[2019-06-15 01:11] godanny86 commented on #53
Agreed, @cqsapient I have seen inconsistencies with resolving the "currentPage" with the SPA implementation. I believe this is due to how the JSON gets generated via the HiearchyPageImpl model. The JSON gets collected for multiple depths but in cases like this the correct context gets lost.

Question for you, if you request the exact path of your page i.e `/content/spa/root/mypage.model.json` vs `

[2019-06-15 01:48] cqsapient commented on #53
Thanks for replying @godanny86

Yes, as you mentioned, the issue is only in `/content/spa/root.model.json `

when using the .model selector in any other page;  say `/content/spa/root/mypage.model.json`

currentPage is properly initialized.

This is because  HiearchyPageImpl model comes into picture only when root.model.json is requested; I tried debugging it and found that the debugger does not go

[2019-06-19 10:48] cqsapient opened #54 "React app does not load on publish instance due to HierarchyPageImpl"
When there is no access to /conf folder ( and hence the page policy) to anonymous user on publish instance, then content attribute is empty as it gets populated via HierarchyPageImpl and code is not able to access conf folder

`<meta property="cq:pagemodel_root_url"/>`

so to fetch the model json it accesses the current page's model

![image](https://user-images.githubusercontent.com/22097490/5975

[2019-06-19 11:02] cqsapient commented on #54
The two calls originate only on dispatcher - on publish, when cq:pagemodel_root_url is populated, only once call(rightly so) on the root page is sent to fetch the model, but in dispatcher with the shortened url and without .html , two calls originate. Please let me know if a cleaner solution is available.

[2019-07-02 07:02] QuanTran91 opened #55 "Support AEM 6.2"
Is it possible to support AEM 6.2 (6.1, 6.0)? At the moment, I can integrate Angular component using custom component. However, I want not only integrate Angular page but also entire Angular app. I tried to downgrade project to AEM 6.2 but it did not work.

Could you someone help me on this? I would appreciate.

Thanks.

[2019-07-02 08:50] gabrielwalt commented on #55
Hi @QuanTran91,

We do not support the SPA Editor on AEM 6.3 or older, sorry about that. Also, 6.2 and previous versions are already beyond the end of core support [1], so there's not much we can do for back-porting anything them anymore. The best would be for you to upgrade, ideally to 6.5, or at least to 6.4.

Best,
Gabriel

[1] https://helpx.adobe.com/support/programs/eol-matrix.html

[2019-07-02 08:50] #55 closed

[2019-07-05 08:21] pfauchere commented on #53
Hi, by default the referenced page used by the injector is only set once per request from the entry point. If your entry point is `/content/spa/root.model.json`, the resource relative to `root` will be the current page. As in the context of the `HiearchyPageImpl` we want to list a tree of pages, we updated the `ComponentContext` with the expected current page. _This workaround could be avoided if

[2019-07-16 12:31] SwapnilGaikwad008 opened #56 "AEM REACT multifield Component."
hey,

I am trying to create Multifield Authorable Component in React AEM, but I am not able to create it I am trying to Use Slingmodel but not getting any results from it.

I had gone through the documentation but not able to figure out about multifield component in react.

please help!

[2019-07-26 11:35] jamesg1 commented on #52
Was `import 'react-app-polyfill/ie11';` at the top of your js?
Example:
[code]
See https://github.com/facebook/create-react-app/blob/master/packages/react-app-polyfill/README.md IE11 has missing javascript features which require polyfills to port the functionality.

[2019-08-28 10:51] ergo123 commented on #53
I have a similar issue. I'm trying to write react version of Breadcrumb component from core components and for each page the number of items is the same. It looks like the breadcrumb items are being generated only for the last page in :children property from root model.json. I believe this is the 'last created page'.

I debugged the hierarchyPage and it changes accordingly for each page, but when

[2019-11-06 21:19] buffaloproject1 opened #61 "javax.net.ssl.SSLHandshakeException: Remote host closed connection during handshake"
Receiving the above error when trying to access a page from localhost:4502

[2019-11-18 10:30] #48 closed

[2019-11-19 14:40] sumerion opened #62 "Vue.js support"
Hi,

Thank you for this cool demo project to show how SPAs can work within AEM.

We at a specilized adobe sites company would like to make it work with vue.js and contribute a 'cq-vue-editable-components'. Plus the integration in the we retail journal demo.

Are you interested in that contribution and can you help us on the way in terms of guidelines?

Many thanks,
Kris.

[2019-11-26 15:28] favvvvvvv commented on #48
Hi @pfauchere, I can't see the template support change you mentioned listed on the [6.4 SP Release Notes page](https://docs.adobe.com/content/help/en/experience-manager-64/release-notes/sp-release-notes.html). Was template support for SPA backported to 6.4.* in the end?

[2019-12-04 18:55] sreenu539 opened #63 "Cannot serve request to /libs/wcm/core/content/pageinfo.json in com.day.cq.wcm.core.impl.servlets.PageInfoServlet"
Cannot serve request to /libs/wcm/core/content/pageinfo.json in com.day.cq.wcm.core.impl.servlets.PageInfoServlet

I am getting 404 for pageInfo.json request and page is in preview mode, not able to click any links or buttons and change to different mode as "FullScreenMask" css from aem code applied.

<img width="1431" alt="Screen Shot 2019-12-04 at 11 10 58 AM" src="https://user-images.githubuser

[2019-12-05 07:34] habansal commented on #63
@sreenu539 Can you please provide more details about how to reproduce the issue ?

Which page ?

[2019-12-10 10:23] pfauchere commented on #62
Hi,

Thank you very much for the offer. We currently are discussing how we can best support such an initiative. We will come back to you when we have an agreement.

Regards,

Patrick

[2019-12-12 16:03] salmanmd786 opened #64 "MapTo - @adobe/cq-react-editable-components"
Hello,

MapTo HOC wraps an additional 'div' around the component. We have a use case where Carousel is author-able component and card as another author-able component. Because an additional 'div' is wrapped for both of the components, the  layout is breaking.

Is there a way we can toggle on/off the 'div'?

Below is how the structure looks

`<div><Carousel><div><Card></Card><div></div></div></Caro

[2019-12-13 14:24] samuelmeuli commented on #26
The [AEM Project Archetype](https://github.com/adobe/aem-project-archetype) can now generate Angular 8 projects. Please use that project as a reference.

[2019-12-13 14:24] #26 closed

[2019-12-13 14:26] samuelmeuli commented on #52
The [AEM Project Archetype](https://github.com/adobe/aem-project-archetype) can now be used to generate SPA projects and includes polyfills for IE11 by default. Please use that project as a reference.

[2019-12-13 14:26] #52 closed

[2019-12-13 14:28] samuelmeuli commented on #54
The [AEM Project Archetype](https://github.com/adobe/aem-project-archetype) can now be used to generate SPA projects and includes a fix for this issue. Please use that project as a reference.

[2019-12-13 14:28] #54 closed

[2020-01-13 16:51] #64 closed

[2020-01-20 20:01] GonzaloCalandria opened #79 "Getting window is not defined on my own project"
Hello everyone! I'm trying to apply this to my own project and I'm having the following error when I try to run my node server

[code]

I read that I can't use `window` object with server side rendering but I can't find anything on the net to fix this.. so I hope you can help me.

[2020-01-24 01:17] R-Bower opened #80 "403 error with CustomModelClient"
I've done the following:

- Installed AEM locally using AEM_6.5_Quickstart.jar (success).
- Started the app (success).
- Ensured that CORS support is enabled as per the documentation (success).
- `mvn clean install -PautoInstallSinglePackage` in the package root (success)

Issue: React app on localhost:9000 is just a black page, and the request to retrieve the model.json fails.

403 error on model

[2020-02-18 00:53] rajashekar63 opened #81 "How to pass parameters in URL"
How to pass parameters in url ? like https://reacttraining.com/react-router/web/example/url-params

[2020-02-23 20:27] #81 closed

[2020-03-02 22:09] rasheedherel1 opened #82 "SSR functionality is not working"
Hi guys,

I tried to implement Server side rendering the React SPA in our project by following the documentation as mentioned below but didn't find it is working.

I was able to start the nodejs server fine on 4200 and configured the path in servlet config as well.

But I tried to hit the localhost:4200/path/to/page, I am getting back response like,

Can someone please advice if I am missing somet

[2020-03-02 23:15] godanny86 commented on #82
hi @rasheedherel1 that is the expected output of the node server (4200). Assuming you have updated the page component HTL and configured the GetPreRenderedPageBody service in AEM, you should now be able to navigate to AEM localhost:**4502**/path/to/page and see the SSR in action

[2020-03-03 16:34] rasheedhere-architech commented on #82
Hi @godanny86, thanks for the quick response. I see that page is being rendered server side, but I see we are still making the js calls even though it is not required. Is there any way we can avoid these unnecessary js calls from the script tags on client side. Cheers!

[2020-03-03 16:36] godanny86 commented on #82
hi @rasheedherel1 if set up correctly you should not see any XHR calls to `.model.json` on the initial page load. Are you still seeing those requests?

[2020-03-03 17:45] rasheedhere-architech commented on #82
@godanny86 You are right, I don't see ```.model.json``` calls when in SSR. But I still see ```.js``` (client-libs, main, we-retail-journal-react-app) calls on page load, which I shouldn't see if the page is being rendered server side.

If I disable javascript in the browser then I don't see any ```.js``` and ```.model.json``` calls as well.

But I see page being server side rendered in all cases.

[2020-03-03 18:08] godanny86 commented on #82
hi @rasheedherel1 the goal of SSR is simply to accelerate the initial page load, so that content is visible before the .js and avoid the extra .model.json request. It is expected to eventually load the JS and have it take control of the app.

[2020-03-03 20:31] rasheedhere-architech commented on #82
Ok thanks! @godanny86

[2020-03-03 20:56] godanny86 commented on #82
will close for now, feel free to open if you have other questions!

[2020-03-03 20:56] #82 closed

[2020-03-03 20:56] rasheedhere-architech commented on #82
Thanks! @godanny86

[2020-03-10 18:46] rasheedherel1 opened #83 "SSR for experience fragments"
Hi there,

We tried the SSR implementation for React SPA in AEM and it is working great on our project,  we are no longer making .model.json XHR calls for the particular page. Thanks for resolving this issue https://github.com/adobe/aem-sample-we-retail-journal/issues/82 👍

But we see some issue when using experience fragments within the page. We are still making those .model.json calls for each e

[2020-03-11 17:20] godanny86 commented on #83
I think this is still an open issue with Core Components, see: https://github.com/adobe/aem-core-wcm-components/issues/943

[2020-03-11 17:25] rasheedhere-architech commented on #83
Thanks @godanny86 for pointing me to the open issue. I have subscribed to the thread. I think we can close this issue.

[2020-03-16 21:29] rasheedhere-architech commented on #83
Hi @gabrielwalt, can you please confirm if https://github.com/adobe/aem-core-wcm-components/issues/943 fixes our issue with SSR with React SPA and XFs.

If so, is there any timeline for fixing this. Thanks!

[2020-03-30 15:19] epsilon-svenkatesh commented on #54
What was the exact fix for this issue in the new archetype. We are seeing a similar issue in our older project. It would be of great help if you can share the details of exact fix for the issue.

[2020-03-30 20:02] pfauchere commented on #54
@samuelmeuli do you recall what was the actual fix?

[2020-04-01 12:06] samuelmeuli commented on #54
It was fixed in this PR: https://github.com/adobe/aem-spa-project-archetype/pull/131

[2020-04-21 22:23] anandkilli opened #84 "apixu weather forecast end point is broken"
Hello,

The weather forecast call http://api.apixu.com/v1/forecast.json?key=29956e2dd75344d2894215728182003&days=5&q=Basel is failing. Opening it in a new tab reveals the following
{
  "0": "#################################################################################################################################",
  "1": "#

[2020-04-23 10:49] walesyu opened #85 "PKIX path building failed when using SSR by https"
Hi,
Everything is fine when I using SSR via http, but when I  use SSR with HTTPS I get an error of SSLHandshakeException:

javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target at sun.security.ssl.Alerts.getSSLException(Alerts.

[2020-06-18 09:35] ofirattia opened #89 "Meaning of AppPage"
Hi,

I noticed that in your example, the page will be load only if the AppPage component is loaded within the ImportComponents, why?

https://github.com/adobe/aem-sample-we-retail-journal/blob/master/react-app/src/components/Page.js

[2020-07-21 21:51] echart commented on #64
Hi @SMOHA786 , how do you solve this?

[2020-07-21 23:42] smo043 commented on #64
I wrote a custom wrapper to handle this scenario. I can share it with you incase if you need it.

[2020-07-22 00:12] echart commented on #64
Hi again @SMOHA786, thanks for you quickly answer.

Yes, i'm having the same problem with this div wrapper and i would like to check your solution if you could share.

Thank you,

[2020-07-22 01:17] smo043 commented on #64
Sure will share the github url here

[2020-07-23 13:54] echart commented on #64
up just to ensure that you will not forget 😄

[2020-07-24 12:54] smo043 commented on #64
@echart - Sent you the invitation link, accept it.

[2020-08-12 13:19] pfauchere commented on #89
The presence of the ImportComponents.js file is a structural decision taken during the conception of this sample project. Feel free to structure your project at your convenience. In this example, we opted for centralizing the calls to the module loader in one place. BTW, for a more comprehensive example, please refer to [0]. We are keeping the current example public until [0] contains a section re

[2020-08-12 13:23] pfauchere commented on #85
By googling a bit, I found [0]. I hope it helps to answer the question. It's more of a generic AEM configuration problem than anything related to SPA or the current project.

[0] https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/adding-self-signed-certificate-into-aem-6-4-trustore/td-p/282752

[2020-08-12 13:23] #85 closed

[2020-08-12 13:23] #89 closed

[2020-08-12 13:24] pfauchere commented on #84
Got rid of the key in the source. From that point on, you will have to provide your own.

[2020-08-12 13:24] #84 closed

[2020-08-12 13:25] pfauchere commented on #83
No recent activity, closing the issue

[2020-08-12 13:25] #83 closed

[2020-08-12 13:28] pfauchere commented on #80
Aged ticket and lack of details and logs. Could be a CORS misconfiguration. Closing the issue for now. Feel free to reopen.

[2020-08-12 13:28] #80 closed

[2020-08-12 13:29] pfauchere commented on #79
Indeed window doesn't exist on a Node server. I remember that we used a library to manage that scenario. You may have to do the same

[2020-08-12 13:29] #79 closed

[2020-08-12 13:30] pfauchere commented on #63
No answer, closing the issue

[2020-08-12 13:30] #63 closed

[2020-08-12 13:31] pfauchere commented on #62
Question answered and no new communication on that matter. Closing the issue

[2020-08-12 13:31] #62 closed

[2020-08-12 13:31] pfauchere commented on #61
This thread may help

https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/adding-self-signed-certificate-into-aem-6-4-trustore/td-p/282752

[2020-08-12 13:31] #61 closed

[2020-08-12 13:33] GonzaloCalandria commented on #79
Thank you @pfauchere for your answer! and do you have some sample for that scenario that you mention?

[2020-08-12 13:34] pfauchere commented on #56
Be sure to understand the basics [0,1]. Then, yes you will have to create both a Sling Model and a frontend component

[0] https://docs.adobe.com/content/help/en/experience-manager-learn/sites/spa-editor/spa-editor-framework-feature-video-use.html
[1] https://github.com/Adobe-Marketing-Cloud/aem-guides-wknd-events

[2020-08-12 13:34] #56 closed

[2020-08-12 13:38] pfauchere commented on #53
I recall having to work around that very same issue. That said, the problem relates neither to the current project nor the SPA Editor feature but to the overall AEM/Sling Dependency Injection and Binding Framework. Would be best to open a ticket either via AEM Customer Care or Sling depending on the assumption as to where the issue is located. I have to admit that I haven't investigated the locati

[2020-08-12 13:38] #53 closed

[2020-10-14 18:49] I2obiN commented on #56
stuck on this too, cannot figure out if it's possible to map a multifield to a react component prop

[2020-10-14 19:54] keepthebyte commented on #56
We recently released a set of React components that works great together with Core Components and Content Services. Please check out https://github.com/adobe/aem-react-core-wcm-components

[2020-10-14 20:30] I2obiN commented on #56
I had a look at that but couldn't see an analogous solution.

Here is my model.
![image](https://user-images.githubusercontent.com/7683830/96041520-dc916780-0e63-11eb-8182-b9b6347c1a80.png)

Here is my react-spa
![image](https://user-images.githubusercontent.com/7683830/96041667-16626e00-0e64-11eb-87ac-daada8051ed5.png)

The title maps fine, the component renders, and the data is there in the crxd

[2020-10-14 20:40] godanny86 commented on #56
So your trying to map `gridChildLinks` to your React component? Does the JSON model show an entry for `gridChildLInks`? What does it look like?

[2020-10-14 21:01] I2obiN commented on #56
![image](https://user-images.githubusercontent.com/7683830/96044673-b621fb00-0e68-11eb-84b1-1263ab63de47.png)

[2020-10-14 21:02] godanny86 commented on #56
Yes thats in CRXDE Lite... i'm asking about what gets outputted by the JSON Model, i.e `/content/mysite/home.model.json`

[2020-10-14 21:11] I2obiN commented on #56
It doesn't seem to be getting output in the model.json

[2020-10-14 21:53] godanny86 commented on #56
Do you have a getter method in your Java Sling Model? In your screenshot I can see the `@Getter` annotation but I'm not familiar with how the Sling Exporter will serialize `List<LinkItem>`. Might be worth it to create a vanilla `getGridChildLinks()` method and experiment with getting the JSON populated.

[2020-10-14 22:22] I2obiN commented on #56
[code]

[2020-10-14 22:32] I2obiN commented on #56
There is a ListImpl in the aem-react-core-wcm-components I dunno if I should be using that over the generic Java list but given the generic Java List was populating in CRXDE I figured it was successful

[2020-10-14 23:01] godanny86 commented on #56
The Java.util.List should be fine. I'm not convinced that `gridChildLinks` List is populated correctly in Java based on the values in the JCR...  As a quick sanity check what is the value of `gridChildLinks.size()`? Does it get properly injected with `LinkItem`s?

POJOs should be automatically serialized by the Sling Model Exporter...for example in Core Components https://github.com/adobe/aem-core

[2020-10-14 23:08] I2obiN commented on #56
Yeh my LinkItem is fairly straightforward. I wonder do I have to initialize the list on my GridComponent

[code]

[2020-10-20 13:57] vineetkaushikmca commented on #63
We are facing same issue after upgrade from 6.4.5 to 6.5.6
https://localhost:4502/libs/wcm/core/content/pageinfo.json does not pull any data rather show blank screen.
please let me know what can be the cause?

[2021-04-02 01:11] barani-ramakrishnan-ey commented on #56
@I2obiN Did you find any solutions for above problem. I am also stuck with multifield react components.

[2021-04-24 21:24] I2obiN commented on #56
not a concrete one no, rolled off the project and I'm pretty sure it was scrapped so I've no way to check for you I'm afraid.

[2021-04-27 08:59] FL33TW00D commented on #56
Do we have a concrete example for this yet?

[2021-05-31 19:40] GonzaloCalandria commented on #53
Was this fixed? I'm still having breadcrumb issue with currentPage.

[2021-06-01 04:36] niekraaijmakers commented on #53
I believe we should use resourcePage for this context. That is much more robust then currentPage.

Of course that requires ACS aem commons I believe ...

[2021-11-22 09:09] apilets opened #90 "Frontend app build fails"
### Expected Behaviour
Frontend app (react-app) is build succesfully
### Actual Behaviour
Build fails with message:
5566 verbose stack HttpErrorGeneral: 401 Unauthorized - GET https://adobe.trust-adobe.console.banyanops.com/v2/auth?client_id=ePcIQuesF41DxqDK3gTuUw&nonce=JtBFMVFzRCD6Bb5zHPXy8&redirect_uri=https%3A%2F%2Fartifactory.corp.adobe.com%2Fbnn_trust_cb&response_type=code&scope=openid+profil

[2022-06-24 12:32] GonzaloCalandria commented on #53
@niekraaijmakers what do you mean by using ACS aem commons? any news on this issue? I don't understand why this issue got closed... this is a very important issue.. many clients use a breadcrumb at template level.